body {
  background-color: #101010;
  color: #ffffff;
}
h1 {
  color: #ffffff;
}
nav a {
  color: #ffffff;
}
footer {
  color: #ffffff;
}

/*Theme the Tabulator element*/
#weapontable {
  background-color: #080202;
  border: 1px solid #333;
  border-radius: 10px;
}

#stratagemtable {
  background-color: #080202;
  border: 1px solid #333;
  border-radius: 10px;
}

div {
  text-align: center;
  vertical-align: middle;
}

img {
  max-width: 100%;
  max-height: 100%;
}
