.OptionTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.OptionTable thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.OptionTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.OptionTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.OptionTable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.OptionTable tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

div {
  text-align: center;
  vertical-align: middle;
}

img {
  max-width: 100%;
  max-height: 100%;
}
